.navbar-brand {
    /*padding: 15px 15px;*/
}

.navbar-inverse {
    background: #081917;
}

.intro {
    background: #5fb7aa;
    color: #fff;
    font-size: 24px;
    padding-top: 45px;
    background: url("../img/multi.jpg") no-repeat 50% 50px;
    background-size: cover;
  
}

.intro-description {
    background: rgba(30,73,87, 0.6);
    padding-top: 45px;
    min-height: 400px;
}